<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">

  <p>Olá, {{name}}</p>
  <p>Parece que você criou uma conta na Desbravatec.</p>
  <p>Se foi você, clique no link abaixo para Validar o seu e-mail e futuramente poder solicitar a recuperação de senha:
  </p>
  <p>
    <a href="{{link}}" target="_blank" rel="noopener noreferrer">Validar e-mail</a>
  </p>
  <p>Se não foi você, entre em contato para desativarmos a conta!</p>
  <p>
    Obrigado!
    <br />
    <strong>Equipe Desbravatec</strong>
  </p>

</div>